@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.footer-basic-centered {
    background-color: #00124e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 12px sans-serif;
    padding: 40px;
    margin-top: 80px;
    border-top: 2px solid #z;
}

.footer-basic-centered .footer-company-motto {
    color: #ffffff;
    font-size: 12px;
}

.footer-basic-centered .footer-company-name {
    color: #f8fbff;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
    .footer-basic-centered {
        padding: 35px;
    }
    .footer-basic-centered .footer-company-motto {
        font-size: 18px;
    }
    .footer-basic-centered .footer-company-name {
        font-size: 12px;
    }
    .footer-basic-centered .footer-links {
        font-size: 14px;
        padding: 25px 0 20px;
    }
    .footer-basic-centered .footer-links a {
        line-height: 1;
    }
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('http://fonts.googleapis.com/css?family=Raleway:400,700');
* {
    padding: 0;
    margin: 0;
}

htmlÂ {
    Â scroll-behavior: Â smooth;
}

body {
    background: url('../images/vecteezy.jpg');
}

header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 200px;
}

.ssc {
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    text-size: 50px;
}

header h1 {
    font: normal 32px/1.5 'Open Sans', sans-serif;
    color: #3F71AE;
    padding-bottom: 16px;
}

header h2 {
    color: rgb(65, 0, 20);
}

header h2 a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
}

header h2 a:hover {
    background-color: #F05283;
    transition: 0.2s;
    color: #fff;
}

header ul {
    max-width: 600px;
    margin: 60px auto 0;
}

header ul a {
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #B9C1CA;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;
    transition: 0.2s ease;
}

header ul li a.active {
    background-color: rgb(1, 17, 90);
    pointer-events: none;
}

header ul li a:hover {
    opacity: 1;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline-block;
}


/* In our demo, the footers are fixed to the bottom of the page */

footer {
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

::selection {
    color: #fff;
    background: #000f52;
    /* WebKit/Blink Browsers */
}

 ::-moz-selection {
    color: #fff;
    background: #001069;
    /* Gecko Browsers */
}

2